<html>
<head>
<title>TestNG:  HT Survey</title>
<link href="../testng.css" rel="stylesheet" type="text/css" />
<link href="../my-testng.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.log { display: none;} 
.stack-trace { display: none;} 
</style>
<script type="text/javascript">
<!--
function flip(e) {
  current = e.style.display;
  if (current == 'block') {
    e.style.display = 'none';
    return 0;
  }
  else {
    e.style.display = 'block';
    return 1;
  }
}

function toggleBox(szDivId, elem, msg1, msg2)
{
  var res = -1;  if (document.getElementById) {
    res = flip(document.getElementById(szDivId));
  }
  else if (document.all) {
    // this is the way old msie versions work
    res = flip(document.all[szDivId]);
  }
  if(elem) {
    if(res == 0) elem.innerHTML = msg1; else elem.innerHTML = msg2;
  }

}

function toggleAllBoxes() {
  if (document.getElementsByTagName) {
    d = document.getElementsByTagName('div');
    for (i = 0; i < d.length; i++) {
      if (d[i].className == 'log') {
        flip(d[i]);
      }
    }
  }
}

// -->
</script>

</head>
<body>
<h2 align='center'>HT Survey</h2><table border='1' align="center">
<tr>
<td>Tests passed/Failed/Skipped:</td><td>4/0/3</td>
</tr><tr>
<td>Started on:</td><td>Thu Mar 11 18:13:26 IST 2021</td>
</tr>
<tr><td>Total time:</td><td>210 seconds (210329 ms)</td>
</tr><tr>
<td>Included groups:</td><td></td>
</tr><tr>
<td>Excluded groups:</td><td></td>
</tr>
</table><p/>
<small><i>(Hover the method name to see the test class name)</i></small><p/>
<table width='100%' border='1' class='invocation-passed'>
<tr><td colspan='4' align='center'><b>PASSED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='com.ps.Test.HTstaging.AddingQuotas()'><b>AddingQuotas</b><br>Test class: com.ps.Test.HTstaging<br/>
<a href="#Output-1095941391" onClick='toggleBox("Output-1095941391", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-1095941391" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-1095941391">
Starting test is AddingQuotas<br/>
Buyer Login Successful<br/>
Search Working Fine<br/>
Test Passed AddingQuotas<br/>
</div>
</td>
<td></td>
<td>31</td>
<td>com.ps.Test.HTstaging@2892dae4</td></tr>
<tr>
<td title='com.ps.Test.HTstaging.HTCreation()'><b>HTCreation</b><br>Test class: com.ps.Test.HTstaging<br/>
<a href="#Output-1923626523" onClick='toggleBox("Output-1923626523", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-1923626523" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-1923626523">
Starting test is HTCreation<br/>
Create Survey Page opened<br/>
Meta Data Entered Successfully<br/>
Survey Created Successfully<br/>
Entered Into Login Page<br/>
operator Login Successfully<br/>
operator Login Successful<br/>
Test Passed HTCreation<br/>
</div>
</td>
<td></td>
<td>52</td>
<td>com.ps.Test.HTstaging@2892dae4</td></tr>
<tr>
<td title='com.ps.Test.HTstaging.VerifyHT1()'><b>VerifyHT1</b><br>Test class: com.ps.Test.HTstaging<br/>
<a href="#Output-194746285" onClick='toggleBox("Output-194746285", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-194746285" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-194746285">
Starting test is VerifyHT1<br/>
Buyer Login Successful<br/>
Search Working Fine<br/>
Buyer Login Successful<br/>
Search Working Fine<br/>
Test Passed VerifyHT1<br/>
</div>
</td>
<td></td>
<td>31</td>
<td>com.ps.Test.HTstaging@2892dae4</td></tr>
<tr>
<td title='com.ps.Test.HTstaging.VerifyafteraddingQuotas()'><b>VerifyafteraddingQuotas</b><br>Test class: com.ps.Test.HTstaging<br/>
<a href="#Output-2029744843" onClick='toggleBox("Output-2029744843", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-2029744843" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-2029744843">
Starting test is VerifyafteraddingQuotas<br/>
Buyer Login Successful<br/>
Search Working Fine<br/>
Buyer Login Successful<br/>
Search Working Fine<br/>
Test Passed VerifyafteraddingQuotas<br/>
</div>
</td>
<td></td>
<td>44</td>
<td>com.ps.Test.HTstaging@2892dae4</td></tr>
</table><p>
<table width='100%' border='1' class='invocation-skipped'>
<tr><td colspan='4' align='center'><b>SKIPPED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='com.ps.Test.HTstaging.VerifyHT1()'><b>VerifyHT1</b><br>Test class: com.ps.Test.HTstaging<br/>
<a href="#Output-891193852" onClick='toggleBox("Output-891193852", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-891193852" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-891193852">
Starting test is VerifyHT1<br/>
Buyer Login Successful<br/>
Search Working Fine<br/>
Buyer Login Successful<br/>
Test Skipped VerifyHT1<br/>
</div>
</td>
<td><div><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;input type=&quot;text&quot; placeholder=&quot;Search Survey&quot; ng-model=&quot;searchSurvey.query&quot; ng-model-options=&quot;{ debounce: 1000 }&quot; ng-change=&quot;searchSurveys(&apos;22&apos;)&quot; class=&quot;ng-pristine ng-untouched ng-valid ng-not-empty&quot;&gt; is not clickable at point (1179, 134). Other element would receive the click: &lt;div id=&quot;loader-wrapper&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=88.0.4324.190)
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:17:03&apos;
System info: host: &apos;VAMSIREDDY-PC&apos;, ip: &apos;192.168.225.71&apos;, os.name: &apos;Windows 7&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;6.1&apos;, java.version: &apos;1.8.0_281&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 88.0.4324.190, chrome: {chromedriverVersion: 88.0.4324.96 (68dba2d8a0b14..., userDataDir: C:\Users\VAMSIR~1\AppData\L...}, goog:chromeOptions: {debuggerAddress: localhost:50474}, javascriptEnabled: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: WINDOWS, platformName: WINDOWS, proxy: Proxy(), setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Session ID: 130f7f448958a8bddde221b9ef177ae2
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:187)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:122)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:49)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at com.ps.rough.Search.SearchHTChild(Search.java:193)
	at com.ps.Test.HTstaging.VerifyHT1(HTstaging.java:112)
... Removed 29 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace891193852", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace891193852'><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;input type=&quot;text&quot; placeholder=&quot;Search Survey&quot; ng-model=&quot;searchSurvey.query&quot; ng-model-options=&quot;{ debounce: 1000 }&quot; ng-change=&quot;searchSurveys(&apos;22&apos;)&quot; class=&quot;ng-pristine ng-untouched ng-valid ng-not-empty&quot;&gt; is not clickable at point (1179, 134). Other element would receive the click: &lt;div id=&quot;loader-wrapper&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=88.0.4324.190)
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:17:03&apos;
System info: host: &apos;VAMSIREDDY-PC&apos;, ip: &apos;192.168.225.71&apos;, os.name: &apos;Windows 7&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;6.1&apos;, java.version: &apos;1.8.0_281&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 88.0.4324.190, chrome: {chromedriverVersion: 88.0.4324.96 (68dba2d8a0b14..., userDataDir: C:\Users\VAMSIR~1\AppData\L...}, goog:chromeOptions: {debuggerAddress: localhost:50474}, javascriptEnabled: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: WINDOWS, platformName: WINDOWS, proxy: Proxy(), setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Session ID: 130f7f448958a8bddde221b9ef177ae2
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:187)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:122)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:49)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at com.ps.rough.Search.SearchHTChild(Search.java:193)
	at com.ps.Test.HTstaging.VerifyHT1(HTstaging.java:112)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:108)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:661)
	at org.testng.internal.Invoker.invokeTestMethod(Invoker.java:869)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:1193)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:126)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:109)
	at org.testng.TestRunner.privateRun(TestRunner.java:744)
	at org.testng.TestRunner.run(TestRunner.java:602)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:380)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:375)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:340)
	at org.testng.SuiteRunner.run(SuiteRunner.java:289)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:86)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1301)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1226)
	at org.testng.TestNG.runSuites(TestNG.java:1144)
	at org.testng.TestNG.run(TestNG.java:1115)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>23</td>
<td>com.ps.Test.HTstaging@2892dae4</td></tr>
<tr>
<td title='com.ps.Test.HTstaging.VerifyHT1()'><b>VerifyHT1</b><br>Test class: com.ps.Test.HTstaging<br/>
<a href="#Output-914930347" onClick='toggleBox("Output-914930347", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-914930347" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-914930347">
Starting test is VerifyHT1<br/>
Buyer Login Successful<br/>
Search Working Fine<br/>
Buyer Login Successful<br/>
Test Skipped VerifyHT1<br/>
</div>
</td>
<td><div><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;input type=&quot;text&quot; placeholder=&quot;Search Survey&quot; ng-model=&quot;searchSurvey.query&quot; ng-model-options=&quot;{ debounce: 1000 }&quot; ng-change=&quot;searchSurveys(&apos;22&apos;)&quot; class=&quot;ng-pristine ng-valid ng-not-empty ng-touched&quot; style=&quot;&quot;&gt; is not clickable at point (1179, 134). Other element would receive the click: &lt;div id=&quot;loader-wrapper&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=88.0.4324.190)
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:17:03&apos;
System info: host: &apos;VAMSIREDDY-PC&apos;, ip: &apos;192.168.225.71&apos;, os.name: &apos;Windows 7&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;6.1&apos;, java.version: &apos;1.8.0_281&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 88.0.4324.190, chrome: {chromedriverVersion: 88.0.4324.96 (68dba2d8a0b14..., userDataDir: C:\Users\VAMSIR~1\AppData\L...}, goog:chromeOptions: {debuggerAddress: localhost:50474}, javascriptEnabled: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: WINDOWS, platformName: WINDOWS, proxy: Proxy(), setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Session ID: 130f7f448958a8bddde221b9ef177ae2
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:187)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:122)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:49)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at com.ps.rough.Search.SearchHTChild(Search.java:204)
	at com.ps.Test.HTstaging.VerifyHT1(HTstaging.java:112)
... Removed 29 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace914930347", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace914930347'><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;input type=&quot;text&quot; placeholder=&quot;Search Survey&quot; ng-model=&quot;searchSurvey.query&quot; ng-model-options=&quot;{ debounce: 1000 }&quot; ng-change=&quot;searchSurveys(&apos;22&apos;)&quot; class=&quot;ng-pristine ng-valid ng-not-empty ng-touched&quot; style=&quot;&quot;&gt; is not clickable at point (1179, 134). Other element would receive the click: &lt;div id=&quot;loader-wrapper&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=88.0.4324.190)
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:17:03&apos;
System info: host: &apos;VAMSIREDDY-PC&apos;, ip: &apos;192.168.225.71&apos;, os.name: &apos;Windows 7&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;6.1&apos;, java.version: &apos;1.8.0_281&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 88.0.4324.190, chrome: {chromedriverVersion: 88.0.4324.96 (68dba2d8a0b14..., userDataDir: C:\Users\VAMSIR~1\AppData\L...}, goog:chromeOptions: {debuggerAddress: localhost:50474}, javascriptEnabled: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: WINDOWS, platformName: WINDOWS, proxy: Proxy(), setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Session ID: 130f7f448958a8bddde221b9ef177ae2
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:187)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:122)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:49)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at com.ps.rough.Search.SearchHTChild(Search.java:204)
	at com.ps.Test.HTstaging.VerifyHT1(HTstaging.java:112)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:108)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:661)
	at org.testng.internal.Invoker.retryFailed(Invoker.java:1014)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:1215)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:126)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:109)
	at org.testng.TestRunner.privateRun(TestRunner.java:744)
	at org.testng.TestRunner.run(TestRunner.java:602)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:380)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:375)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:340)
	at org.testng.SuiteRunner.run(SuiteRunner.java:289)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:86)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1301)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1226)
	at org.testng.TestNG.runSuites(TestNG.java:1144)
	at org.testng.TestNG.run(TestNG.java:1115)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>25</td>
<td>com.ps.Test.HTstaging@2892dae4</td></tr>
<tr>
<td title='com.ps.Test.HTstaging.VerifyHT1()'><b>VerifyHT1</b><br>Test class: com.ps.Test.HTstaging<br/>
<a href="#Output-1858328804" onClick='toggleBox("Output-1858328804", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-1858328804" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-1858328804">
Starting test is VerifyHT1<br/>
Buyer Login Successful<br/>
Test Skipped VerifyHT1<br/>
</div>
</td>
<td><div><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;img class=&quot;img-responsive&quot; src=&quot;img/logo-without-name.png&quot; alt=&quot;Logo&quot; title=&quot;&quot; ui-sref=&quot;home&quot; href=&quot;#/dashboard&quot;&gt; is not clickable at point (30, 30). Other element would receive the click: &lt;div id=&quot;loader-wrapper&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=88.0.4324.190)
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:17:03&apos;
System info: host: &apos;VAMSIREDDY-PC&apos;, ip: &apos;192.168.225.71&apos;, os.name: &apos;Windows 7&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;6.1&apos;, java.version: &apos;1.8.0_281&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 88.0.4324.190, chrome: {chromedriverVersion: 88.0.4324.96 (68dba2d8a0b14..., userDataDir: C:\Users\VAMSIR~1\AppData\L...}, goog:chromeOptions: {debuggerAddress: localhost:50474}, javascriptEnabled: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: WINDOWS, platformName: WINDOWS, proxy: Proxy(), setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Session ID: 130f7f448958a8bddde221b9ef177ae2
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:187)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:122)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:49)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at com.ps.rough.Search.SearchHTParent(Search.java:99)
	at com.ps.Test.HTstaging.VerifyHT1(HTstaging.java:104)
... Removed 29 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace1858328804", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace1858328804'><pre>org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element &lt;img class=&quot;img-responsive&quot; src=&quot;img/logo-without-name.png&quot; alt=&quot;Logo&quot; title=&quot;&quot; ui-sref=&quot;home&quot; href=&quot;#/dashboard&quot;&gt; is not clickable at point (30, 30). Other element would receive the click: &lt;div id=&quot;loader-wrapper&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=88.0.4324.190)
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:17:03&apos;
System info: host: &apos;VAMSIREDDY-PC&apos;, ip: &apos;192.168.225.71&apos;, os.name: &apos;Windows 7&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;6.1&apos;, java.version: &apos;1.8.0_281&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 88.0.4324.190, chrome: {chromedriverVersion: 88.0.4324.96 (68dba2d8a0b14..., userDataDir: C:\Users\VAMSIR~1\AppData\L...}, goog:chromeOptions: {debuggerAddress: localhost:50474}, javascriptEnabled: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: WINDOWS, platformName: WINDOWS, proxy: Proxy(), setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Session ID: 130f7f448958a8bddde221b9ef177ae2
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:187)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:122)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:49)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at com.ps.rough.Search.SearchHTParent(Search.java:99)
	at com.ps.Test.HTstaging.VerifyHT1(HTstaging.java:104)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:108)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:661)
	at org.testng.internal.Invoker.retryFailed(Invoker.java:1014)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:1215)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:126)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:109)
	at org.testng.TestRunner.privateRun(TestRunner.java:744)
	at org.testng.TestRunner.run(TestRunner.java:602)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:380)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:375)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:340)
	at org.testng.SuiteRunner.run(SuiteRunner.java:289)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:86)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1301)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1226)
	at org.testng.TestNG.runSuites(TestNG.java:1144)
	at org.testng.TestNG.run(TestNG.java:1115)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>1</td>
<td>com.ps.Test.HTstaging@2892dae4</td></tr>
</table><p>
</body>
</html>